* {
  box-sizing: border-box;
}
body {
  color: rgb(231, 231, 243);
  font-size: medium;
  margin: 10px;
  background-color: rgb(236, 231, 231);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}